@media screen and (max-width: 2000px) {
    h1{
        font-size: 3em;
        padding-left: 40px;
    }

    #divIMG{
        text-align: center;
    }

    img{
        width: 93vw;
    }

    h2{
        font-size: 2.2em;
        padding-left: 240px;
        margin-bottom: 10px;
    }

    #principaisC{
        text-align: center;
        font-size: 2.7em;
        padding-bottom: 15px;
    }

    h3{
        padding-left: 240px;
        font-size: 2.3em;
    }

    p{
        padding: 5px 20px 20px 40px;
        max-width: 1000px;
        text-align: center;
        font-size: 1.4em;
        margin: auto;
    }
}

@media screen and (max-width: 1600px) {
    h1{
        font-size: 3em;
        padding-left: 40px;
    }

    #divIMG{
        text-align: center;
    }

    img{
        width: 93vw;
    }

    h2{
        font-size: 2.2em;
        padding-left: 240px;
        margin-bottom: 10px;
    }

    #principaisC{
        text-align: center;
        font-size: 2.7em;
        padding-bottom: 15px;
    }

    h3{
        padding-left: 240px;
        font-size: 2.3em;
    }

    p{
        padding: 5px 20px 20px 40px;
        max-width: 1000px;
        text-align: center;
        font-size: 1.4em;
        margin: auto;
    }
}

@media screen and (max-width: 1324px) {
    h1{
        font-size: 3em;
        padding-left: 30px;
    }

    #divIMG{
        text-align: center;
    }

    img{
        width: 93vw;
    }

    h2{
        font-size: 2.2em;
        padding-left: 22px;
        margin-bottom: 10px;
    }

    #principaisC{
        text-align: center;
        font-size: 2.2em;
        padding-bottom: 15px;
    }

    h3{
        padding-left: 30px;
        font-size: 1.7em;
    }

    p{
        padding: 5px 20px 20px 25px;
        max-width: 1000px;
        text-align: justify;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 3.2em;
        padding-left: 30px;
    }

    #divIMG{
        text-align: center;
    }

    img{
        width: 93vw;
    }

    h2{
        font-size: 2.2em;
        padding-left: 22px;
    }

    #principaisC{
        text-align: center;
        font-size: 2.2em;
        padding-bottom: 15px;
    }

    h3{
        padding-left: 30px;
        font-size: 1.7em;
    }

    p{
        padding: 10px 20px 20px 25px;
        max-width: 700px;
        text-align: justify;
        font-size: 1.4em;
    }
}


@media screen and (max-width: 480px) {
    *{
        padding: 0px;
        margin: 0px;
    }

    h1{
        font-size: 2em;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #divIMG{
        text-align: center;
    }

    img{
        width: 90vw;
        margin-bottom: 20px;
    }

    h2{
        font-size: 1.5em;
        text-align: left;
        padding-left: 22px;
    }

    #principaisC{
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 20px;
    }

    h3{
        padding-left: 22px;
        font-size: 1.3em;
    }

    p{
        padding: 10px 20px 20px 20px;
        max-width: 400px;
        text-align: justify;
        font-size: 1.1em;
    }
}




