@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "Courier New", Courier, monospace;
}

ul {
  padding-left: 10px;
}

ul > li {
  list-style: none;
  padding: 2px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

#container {
  background-color: rgb(28, 202, 255);
  padding: 20px 40px;
  min-width: 700px;
  min-height: 480px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#container > h1 {
  text-align: center;
}

#perguntas > h3 {
  padding-bottom: 10px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
}

button {
  background-color: rgb(7, 238, 7);
  position: absolute;
  top: 430px;
  left: 0px;
  min-height: 50px;
  min-width: 701px;
  border: none;
  border-radius: 0px 0px 10px 10px;
  font-size: 20px;
  font-weight: 200;
}

button:hover {
  cursor: pointer;
  background-color: rgb(38, 233, 142);
}
